body {
  text-align: center;
  background-color: #013f63;
}

.game-over {
  background-color: rgb(189, 12, 12)
}

#level-title1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #fff6d1;
}


#level-title2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #fff6d1;
}

@media only screen and (max-width: 768px) {
  #level-title1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin:  5%;
    color: #fff6d1;
  }
  
  
  #level-title2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin:  5%;
    color: #fff6d1;
  }
}


@media only screen and (max-width: 500px) {
  #level-title1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin:  5%;
    color: #fff6d1;
  }
  
  
  #level-title2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6rem;
    margin:  5%;
    color: #fff6d1;
  }
}

#how {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #fff6d1;
}
@media only screen and (max-width: 768px) {
  #how {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin:  5%;
    color: #fff6d1;
  }
}



.container {
  display: block;
  width: 90%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 0px solid black;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .btn {
    margin: 10px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 0px solid black;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 508px) {
  .btn {
    margin: 10px;
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 0px solid black;
    border-radius: 50%;
  }
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
